/* Estilos para el header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
  }
  
  .title {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .title {
      font-size: x-large; /* Tamaño de fuente reducido para dispositivos móviles */
    }
  }

  
  /* Estilos para el botón de hamburguesa */
  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 1001; /* Asegura que esté por encima del sidebar */
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; 
    border-radius: 5px; 
    padding: 5px 10px; 
    margin-right: 32px;
    color: black;
  }
  
  .avatar{
    display: flex;
    align-items: center;
  }

  .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    margin-right: 10px;
  }
  
  /* Estilos para el sidebar */
  .sidebar {
    position: fixed;
    top: 60px; /* Ajusta la posición superior para dejar espacio para el header */
    left: -250px; /* Oculta el sidebar por defecto */
    width: 250px;
    height: 100%;
    height: calc(100% - 60px); /* Ajusta la altura para ocupar todo el espacio restante */
    background-color: #444;
    transition: left 0.3s ease;
    z-index: 900; /* Asegura que el sidebar esté por debajo del header */
  }
  
  .sidebar.active {
    left: 0; /* Muestra el sidebar cuando está activo */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }
  
  /* Estilos para el contenido principal */
  .content {
    padding: 64px;
    text-align: center;
  }
  

/* Estilos para el contenedor de las tarjetas */
.card-container {
  display: flex; 
  flex-wrap: wrap; /* Permitir que las tarjetas pasen a la siguiente fila */
  gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilos para las tarjetas (cards) */
.card {
  flex: 1 0 120px; /* Forza a las tarjetas a tener un ancho máximo de 120px y un mínimo de 0 */
  border: 1px solid #ccc; 
  border-radius: 5px; 
  overflow: hidden; /* Evita que el contenido salga de la tarjeta */
}

.card-img-top {
  width: 100%; /* Ancho completo de la imagen */
  height: auto; /* Altura automática de la imagen */
  border-bottom: 1px solid #ccc; /* Borde inferior de la imagen */
}

.card-body {
  padding: 10px 20px 10px 20px; /* Espaciado interno del cuerpo de la tarjeta */
}

.card-title {
  font-size: 1.25rem; /* Tamaño de fuente del título */
  margin-bottom: 10px; 
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .card-title {
    font-size: 1rem; /* Tamaño de fuente reducido para dispositivos móviles */
  }
}

.card-text {
  font-size: 1rem; 
  color: #555; 
}
